$button-disabled-opacity: 0.5;

.button-sprite {
    width: 40px;
    height: 40px;
    background-image: image-url('sprites.png');
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover {
        background-color: $color-med;
    }

    @for $i from 0 through 20 {
        &.button-#{$i} {
            background-position: 0 (-(0px+$i)*40);
            &:hover, &.enabled {
                background-position: -40px (-(0px+$i)*40);
                background-color: $color-blue;
            }
        }
    }
}

button,
.input-button {
    border: 0;
    text-transform: uppercase;
    font-size: .75em;
    background: $color-med;
    padding: 1em 1.2em;
    &:enabled {
        cursor: pointer;
        &:hover {
            background-color: $color-blue;
            color: white;
        }
    }
    &:focus {
        outline: none;
    }
    &.react-clickable {
        text-transform: initial;
        font-size: 1em;
        background: transparent;
        padding: 0;
        &:enabled {
            &:hover {
                background-color: transparent;
            }
        }
    }
}

button[disabled] {
    opacity: $button-disabled-opacity;
}

.button {
    cursor: pointer;
    background: $color-med;

    &:hover {
        background-color: $color-blue;
        color: white;
    }

    &:focus {
        outline: none;
    }
}

@mixin button-active-hover {
    background-color: $color-blue;
    color: white;
    &:hover {
        background-color: $color-blue-hover;
    }
}

button.active,
.input-button.active,
.button.active {
    @include button-active-hover;
}

@mixin button-mgt-plan {
    background-image: image-url('sprites.png');
    background-position: -6px -166px;
    &:hover {
        background-position: -46px -166px;
    }
    &.disabled {
        opacity: $button-disabled-opacity;
    }
}

// Semantic UI Button overrides //
.ui.button {
    padding: .2em 1.5em;
    background-color: #799bb2 !important;
    text-transform: initial !important;
    font-size: inherit;
    border-radius: 7px;
    border: 1px solid #799bb2;
    color: #fff;
    &:focus, &:active, &:hover {
        &:not(.ui-state-disabled) {
            background-color: #afc3d1 !important;
            border: 1px solid #afc3d1;
            color: #fff;
        }
        &.ui-state-disabled {
            background-color: #ccc !important;
            border: 1px solid #ccc;
            color: #fff;
        }
    }
}

.standardButton {
    padding: .2em 1.5em;
    font-size: inherit;
    border-radius: 7px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-transform: initial !important;
}

.buttonPrimary {
    @extend .standardButton;
    background-color: #799bb2 !important;
    border: 1px solid #799bb2;
    color: #fff;
  }
  
  .buttonPrimary:hover, .buttonPrimary:focus, .buttonPrimary:active {
    background-color: #afc3d1 !important;
    border: 1px solid #afc3d1;
    color: #fff;
  }
  
  .buttonPrimary:disabled {
    background-color: #ccc !important;
    border: 1px solid #ccc;
    color: #fff;
  }
  
  .buttonSecondary {
    @extend .standardButton;
    background-color: #fff !important;
    border: 1px solid #799bb2;
    color: #799bb2;
  }

  .buttonSecondary:enabled:hover, .buttonSecondary:enabled:focus {
    border: 1px solid #afc3d1;
    color: #afc3d1;
  }
  