// TC -  this needs to move somewhere
div[role="main"] {
    .section-admin {
        label {
            width: 15em;
            display: inline-block;
        }
    }
}

// TC - where is this used?
.form-field {
    margin-bottom: 1em;

    label {
        font-size: 1.2em;
    }

    .choice-field {
        padding: 0.25em;
        display: inline-block;
        width: 100%;

        &.selected {
            background: $color-hover;
        }

        label {
            font-size: 1em;
            margin-left: 2em;
            cursor: pointer;
            display: block;
        }

        input[type="radio"], input[type="checkbox"] {
            float: left;
            margin: 0.1em;
        }
    }
}

input[type="text"] {
    line-height: 2em;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"] {
    height: 36px;
}

textarea {
    line-height: 1.4;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="number"] {
    font-size: 1rem !important;
    border: 1px solid #dadada;
    border-radius: 4px;
    color: #444444;
    padding: 8px;
}

textarea {
    border: 1px solid #dadada;
    border-radius: 4px;
    color: #444444;
    padding: 8px;
}

.long-form {
    label {
        vertical-align: middle;
        padding-top: 8px;
        padding-bottom: 4px;
    }
    input,
    select,
    textarea {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        vertical-align: middle;
    }
    input[type="text"],
    input[type="search"],
    input[type="password"],
    input[type="email"],
    input[type="number"],
    textarea,
    select {
        width: 320px;
    }
    input[type="radio"] {
        margin: 0.7em 0.4em 0 0.075em;
    }
    input[type="checkbox"] {
        margin: 0.4em 0 0 0.075em;
    }
}

input[type="text"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
textArea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bababa;
}

input[type="text"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
textArea::-moz-placeholder { /* Firefox 19+ */
    color: #bababa;
}

input[type="text"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
textArea:-ms-input-placeholder { /* IE 10+ */
    color: #bababa;
}

input[type="text"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
textArea:-moz-placeholder { /* Firefox 18- */
    color: #bababa;
}

.text-input-full-width {
    width: 100%;
}

// When do we do mini?
.mini {
    .form-field {
        margin: 0;
    }
}

textarea {
    @include transition(height 0.2s);
}

select {
    height: 2.5em;
    border: 1px solid $color-med;
    &[multiple="multiple"] {
        height: 100%;
    }
}

.screenreader-only-label {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}
