header {
    z-index: 12;
    background: $color-blue;
    position: absolute;
    width: 100%;
    font-size: 1.2em;
    nav {
        display: inline-block;
        text-align: center;
        margin: 0 auto;

        ul {
            display: inline-block;
        }
        li {
            display: inline-block;
            position: relative;
            a {
                padding: 0 1.5em;
                line-height: $header-height;
            }
        }
    }

    .meta-actions {
        position: absolute;
        bottom: .5em;
        right: 0;
        cursor: pointer;
        color: white;
        font-size: .9em;
        font-weight: bold;
        a {
            font-weight: normal;
            color: white;
            text-decoration: none;
            padding: 0 1em;
            &:hover {
                opacity: .6;
            }
        }
    }
}

.logo {
    max-height: 100%;
    vertical-align: middle;
}
