#cboxOverlay {
    background-color: white;
}

.overlay-close {
    display: block;
    padding: .3em .5em;
    position: absolute;
    top: 0;
    right: 15px;
    background-color: transparent;
    opacity: 0.9;
}

.overlay-close:hover {
    background-color: transparent !important;
    opacity: 1;
}

.overlay-close:active {
    opacity: 0.9;
}

$width-intro-inner-margin: 2em;
$width-intro-inner-border: 2px;

#intro-screen {
    margin-top: 2em;
    .intro-content {
        vertical-align: top;
        display: inline-block;
        @include calc(width, 70% - #{$width-intro-inner-margin} - #{$width-intro-inner-border});
        .title {
            font-size: 1.5em;
            margin-bottom: 1.5em;
        }
        .data-point,
        .body-text {
            font-weight: 700;
            color: $color-blue;
        }
        .data-point {
            font-size: 5em;
        }
        .body-text {
            font-size: 3.5em;
            width: 85%;
        }
    }
    .intro-supers {
        border-left: $width-intro-inner-border solid $color-med;
        padding-left: $width-intro-inner-margin;
        vertical-align: top;
        display: inline-block;
        width: 30%;
        ul {
            padding: 0;
            list-style-type: none;
        }
        li {
            padding-bottom: 2em;
            &:last-of-type {
                padding-bottom: 1em;
            }
        }
        .intro {
            height: 4.5em;
        }
        img {
            display: inline-block;
            width: 60px;
            height: 60px;
            vertical-align: top;
        }
        .super-info {
            padding-left: 1em;
            display: inline-block;
            vertical-align: top;
        }
        .location {
            font-size: .8em;
        }
    }
}
